@page "/ReferencingBlazoriseThemeValuesInCustomCSS"

<Heading Size="HeadingSize.Is1">Referencing Blazorise Theme Values in Custom CSS</Heading>

<Button Color="Color.Primary" Clicked="ChangeThemeColour" Width="Width.Is100">Change Theme Colour</Button>

<Div Margin="Margin.Is2.FromTop.Is3.FromBottom"
     Border="Border.Dark.OnAll"
     Padding="Padding.Is2"
     style="box-shadow: 10px 10px #45B1E8">
    <Heading Size="HeadingSize.Is2">Shadow Colour: #45B1E8</Heading>
    <Paragraph>Here's an example of a div with a hard-coded shadow set to #45B1E8. It <i>kinda</i> works when the page is first loaded, but it's not best practice and won't keep up to date if the theme changes!</Paragraph>
</Div>

<Div Margin="Margin.Is2.FromTop.Is3.FromBottom"
     Border="Border.Dark.OnAll"
     Padding="Padding.Is2"
     style="box-shadow: 10px 10px var(--b-theme-primary)">
    <Heading Size="HeadingSize.Is2">Shadow Colour: @Theme.ColorOptions.Primary</Heading>
    <Paragraph>Here's an example of a div with a shadow defined using the CSS variable <code>--b-theme-primary</code>, which is directly linked to the Blazorise theme value (currently @Theme.ColorOptions.Primary). Pretty cool right?</Paragraph>
</Div>
